<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='try_css.css')}}">
    </head>
    <body>
        <form method="POST" action="http://127.0.0.1:5000/show_data">
            <table>
                <tr>
                    <th><label for="name">名前</label></th>
                    <th><label for="color">好きな色</label></th>
                    <th><label for="wether">好きな天気</label></th>
                </tr>
                <tr>
                    <td><input type="text" name="name" /></td>
                    <td><input type="text" name="color" /></td>
                    <td><input type="text" name="wether" /></td>
                </tr>
            </table>
            <button type="submit">送信</button>
        </form>
    </body>
</html>