<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='try_css.css')}}">
        <script src="{{url_for('static', filename='try_js.js')}}"></script>
        <script src="{{url_for('static', filename='plotly-2.35.2.min.js')}}"></script>
    </head>
    <body>
        <div id="try_graph" style="width:600px;height:250px;margin:auto;"></div>
        <script>
            var trace = {
                x: [1, 2, 3, 4],
                y: [10, 15, 13, 17],
                mode: 'lines+markers',
                type: 'scatter',
                name: 'Team A',
                text: ['A-1', 'A-2', 'A-3', 'A-4']
            };
            var data = [trace];
            Plotly.newPlot('try_graph', data);
        </script>
        <form method="POST" action="http://127.0.0.1:5000/show_data">
            <select name="select" id="select_id" onchange="change_by_select()">
                <option value="red">赤</option>
                <option value="green">緑</option>
                <option value="blue">青</option>
                <option value="yellow">黄</option>
                <option value="inherit">元に戻す</option>
            </select>
            <input type="button" name="button" value="ボタン" onclick="change_table();">
            <table id="table_id">
                <tr>
                    <th><label for="name">名前</label></th>
                    <th><label for="color">好きな色</label></th>
                    <th><label for="wether">好きな天気</label></th>
                </tr>
                <tr>
                    <td><input type="text" name="name" /></td>
                    <td><input type="text" name="color" /></td>
                    <td><input type="text" name="wether" /></td>
                </tr>
            </table>
            <button type="submit">送信</button>
        </form>
    </body>
</html>